@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500;700&display=swap');

body
{
    font-family: 'Inconsolata', monospace;
    margin: 0;
    background: #EFEFEF;
}

a
{
    text-decoration: none;
    color: #1a1a1a;
}

/* Menu */
.navbar
{
    padding: 5vh 0;
    width: 80vw;
    position: fixed;
    font-weight: 700;
    font-size: 1.3em;
    background-color: #efefef;
}

.navbar
{
    margin-left: 10vw;
    margin-right: 10vw;
}

.typelogo
{
    display: contents;
    margin-left: 10vw;
}

.color
{
    color: #7700ee;
}

.menu
{
    float: right;
}

.menu a:hover 
{
    background-color: #1a1a1a;
    color: #efefef;
}

.menu a.active:hover 
{
    background-color: #1a1a1a;
    color: #efefef;
}

.menu a 
{
    color: #a0a0a0;
    margin: 0 1em;
}

.menu a:last-child
{
    margin-right: 0;
}

.menu a:first-child
{
    margin-left: 0;
}

.menu a.active
{
    color: #1a1a1a;
}

/* Home */
.home
{
    height: 100svh;
    height: 100vh;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.hero
{
    margin: 0;
}

.name
{
    font-size: 1.8em; 
    font-weight: 300;
    display: block;
}

.designer
{
    font-size: 4.5em; 
    font-weight: 500;
    display: block;
    margin-top: 0.1em;
}

.developer
{
    color: #1a1a1a;
}

.developercolor
{
    color: #7700ee;
    font-size: 4.5em; 
    font-weight: 700;
    display: block;
    margin-top: 0;
    margin-bottom: 1.5em;
}

/* About */
.about
{
    height: 100svh;
    height: 100vh;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutcontainer 
{
    display: flex;
    flex-wrap: wrap;
    gap: 10vw;
}

.titleabout, .titleskills
{
    font-weight: 700;
    font-size: 2em;
    display: inline-block;
    background-color: #1a1a1a;
    color: #efefef;
}

.contentabout, .contentskills
{
    font-weight: 500;
    font-size: 1.5em;
    color: #1a1a1a;
}

.aboutme, .skills 
{
    flex: 1;
    min-width: 15em;
    max-width: 30em;
    height: auto;
}

/* Work */
.work
{
    height: 100svh;
    height: 100vh;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titlework
{
    font-weight: 700;
    font-size: 6em;
    display: inline-block;
    background-color: #1a1a1a;
    color: #efefef;
}

/* Contact */
.contact
{
    height: 80svh;
    height: 80vh;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactcontainer
{
    padding-top: 20svh;
    padding-top: 20vh;
}

.contacttitle
{
    font-weight: 700;
    font-size: 2.2em;
    display: inline-block;
    background-color: #1a1a1a;
    color: #efefef;
}

.contactcontent
{
    max-width: 19em;
    font-weight: 500;
    font-size: 1.8em;
    color: #1a1a1a;
}

.highlight
{
    display: inline-block;
    background-color: #1a1a1a;
    color: #efefef;
}

.social
{
    margin-left: 10vw;
    margin-right: 10vw;
    height: 20svh;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
}

.icon
{
    height: 2em;
}

/* Background Number */
.bgnumber
{
    position: fixed;
    display: flex;
    color: #e6e6e6;
    z-index: -1;
    font-weight: 700;
    font-size: 70svh;
    transform: translate(0%, 5%);
    bottom: 0;
    right: 2.5vw;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
}

.bgnumber p
{
    margin: 0;
}


@media (max-width: 900px)  
{

.typelogo
{
    display: none;
}
  
.menu 
{
    float: none;
    text-align: center
}

.navbar
{
    position: fixed;
    font-weight: 700;
    font-size: clamp(0.5em, 1em+10vw 3em);
    background-color: #efefef;
}

}
